#play-pause {
    position: sticky;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    border-radius: 10rem;
    height:40px;
    width: 40px;
    padding: .4rem;
    z-index: 2;
    background-image: url('Picture/player/play-buttton.png');
    background-repeat: no-repeat !important;
    background-position: 55%;
    background-size: 1rem;
    background-color: gainsboro;
}
.play {
    background-image: url('Picture/player/play-buttton.png');
}
.pause {
    background-image: url('Picture/player/pause.png') !important;
    background-position: center !important;
}